{% extends "layouts/main.html" %}

{% block content %}
    <div class="row">
        <div class="four columns">
            <form method="get">
                <label for="currency1">Currency 1:</label>
                <input type="text" value="{{currency1}}" name="currency1" id="currency1">
                <label for="currency2">Currency 2:</label>
                <input type="text" value="{{currency2}}" name="currency2" id="currency2">
                <label for="rate">Exchange Rate:</label>
                <input type="text" value="{{rate}}" name="rate" id="rate">
                <br/><br/>
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="four columns">
            <table>
                <thead>
                   <tr>
                       <th>{{currency1}}</th>
                       <th>{{currency2}}</th>
                   </tr>
                </thead>
                <tbody>
                    {% for row in table1 %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                <div class="four columns">
            <table>
                <thead>
                   <tr>
                       <th>{{currency2}}</th>
                       <th>{{currency1}}</th>
                   </tr>
                </thead>
                <tbody>
                    {% for row in table2 %}
                    <tr>
                        <td>{{row[1]}}</td>
                        <td>{{row[0]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}