{% extends "layouts/main.html" %}
{% block content %}
    <h1>{{person[0]}} {{person[1]}}</h1>
    {% for item in items %}
        <p>{{item.name}}<br/>Amount {{item.amount}}</p>
    {% endfor %}

            <div class="row">
                <div class="six columns">
                    <table class="u-full-width">
                        <thead>
                          <tr>
                              <td>Heading Col 1</td>
                              <td>Heading Col 2</td>
                          </tr>
                        </thead>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell</td>
                        </tr>
                        <tr>
                            <td>MY TEXT</td>
                            <td>C12341234</td>
                        </tr>
                    </table>
                </div>
                    <div class="six columns">
                        ABC
                    </div>
                </div>
{% endblock %}